<h2>Product Search</h2>
<%= form_tag search_results_path do %>
  <%= label_tag 'category', 'Category' %>
  
  <%= text_field_tag :keywords %>
  <%= submit_tag 'Search' %>
<% end %>


<!-- 
<form accept-charset="UTF-8" action="/admin/products" class="filter_form" id="q_search" method="get"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div><div class="filter_form_field filter_select"><label class=" label" for="q_category_id">Category</label><select id="q_category_id" name="q[category_id_eq]"><option value="">Any</option>
<option value="1">Set</option>
<option value="2">Board</option>
<option value="3">Stone</option>
<option value="4">Bowl</option></select></div><div class="filter_form_field filter_string select_and_search"><label class=" label" for="q_title">Title</label><select id="" name=""><option value="title_contains" selected="selected">Contains</option>
<option value="title_equals">Equals</option>
<option value="title_starts_with">Starts with</option>
<option value="title_ends_with">Ends with</option></select><input id="q_title" name="q[title_contains]" type="text" value="board"></div><div class="filter_form_field filter_string select_and_search"><label class=" label" for="q_description">Description</label><select id="" name=""><option value="description_contains" selected="selected">Contains</option>
<option value="description_equals">Equals</option>
<option value="description_starts_with">Starts with</option>
<option value="description_ends_with">Ends with</option></select><input id="q_description" name="q[description_contains]" type="text"></div><div class="filter_form_field filter_string select_and_search"><label class=" label" for="q_image_url">Image url</label><select id="" name=""><option value="image_url_contains" selected="selected">Contains</option>
<option value="image_url_equals">Equals</option>
<option value="image_url_starts_with">Starts with</option>
<option value="image_url_ends_with">Ends with</option></select><input id="q_image_url" name="q[image_url_contains]" type="text"></div><div class="filter_form_field filter_numeric select_and_search"><label class=" label" for="q_price">Price</label><select id="" name=""><option value="price_equals" selected="selected">Equals</option>
<option value="price_greater_than">Greater than</option>
<option value="price_less_than">Less than</option></select><input id="q_price" name="q[price_equals]" step="any" type="text"></div><div class="filter_form_field filter_string select_and_search"><label class=" label" for="q_material">Material</label><select id="" name=""><option value="material_contains" selected="selected">Contains</option>
<option value="material_equals">Equals</option>
<option value="material_starts_with">Starts with</option>
<option value="material_ends_with">Ends with</option></select><input id="q_material" name="q[material_contains]" type="text"></div><div class="filter_form_field filter_numeric select_and_search"><label class=" label" for="q_quantity">Quantity</label><select id="" name=""><option value="quantity_equals" selected="selected">Equals</option>
<option value="quantity_greater_than">Greater than</option>
<option value="quantity_less_than">Less than</option></select><input id="q_quantity" name="q[quantity_equals]" step="any" type="text"></div><div class="filter_form_field filter_numeric select_and_search"><label class=" label" for="q_sale_price">Sale price</label><select id="" name=""><option value="sale_price_equals" selected="selected">Equals</option>
<option value="sale_price_greater_than">Greater than</option>
<option value="sale_price_less_than">Less than</option></select><input id="q_sale_price" name="q[sale_price_equals]" step="any" type="text"></div><div class="filter_form_field filter_boolean"><label class="" for="q_mark_as_new">Mark as new</label>
<input id="q_mark_as_new" name="q[mark_as_new_eq]" type="checkbox" value="1"></div><div class="filter_form_field filter_boolean"><label class="" for="q_mark_as_sale">Mark as sale</label>
<input id="q_mark_as_sale" name="q[mark_as_sale_eq]" type="checkbox" value="1"></div><div class="filter_form_field filter_date_range"><label class=" label" for="q_created_at_gte">Created at</label>
<input class="datepicker" id="q_created_at_gte" max="10" name="q[created_at_gte]" size="12" type="text" value="">
<span class="seperator">-</span>
<input class="datepicker" id="q_created_at_lte" max="10" name="q[created_at_lte]" size="12" type="text" value=""></div><div class="filter_form_field filter_date_range"><label class=" label" for="q_updated_at_gte">Updated at</label>
<input class="datepicker" id="q_updated_at_gte" max="10" name="q[updated_at_gte]" size="12" type="text" value="">
<span class="seperator">-</span>
<input class="datepicker" id="q_updated_at_lte" max="10" name="q[updated_at_lte]" size="12" type="text" value=""></div><div class="buttons"><input name="commit" type="submit" value="Filter"><a href="#" class="clear_filters_btn">Clear Filters</a><input id="hidden_active_admin_order" name="order" type="hidden" value="id_desc"></div></form> -->